.loginBtnContainer {
    width: 30vw;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 40px;
}

.loginBtn {
    width: 21vw;
    height: 5vh;
    background-color: white;
    border: none;
    border-radius: 50px;
    font-family: 'century';
    font-size: 22px;
    font-weight: bold;
    cursor: pointer;
}