.Email, .Password {
    background-color: transparent;
    border: 2px solid white;
    border-radius: 50px;
    width: 20vw;
    height: 5vh;
    margin: 20px 0px;
    color: white;
    padding-left: 20px;
    display: flex;
    align-items: center;
    outline: none;
    font-size: 16px;
}

::-webkit-input-placeholder {
    color: white;
    font-size: 15px;
}

.inputContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.Ckeckbox {
   cursor: pointer;  
}