@charset "UTF-8";

@font-face {
    font-family: 'century';
    src: url('fonts/Dominik\ Thin/DOMINIKTH.TTF');
}

* {
    font-family: 'century';
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 98.4vh;
    background: linear-gradient(to top, rgb(221, 216, 202) 50%, rgb(255, 255, 255));
}

.formImage {
    width: 50vw;
    height: 80vh;
    background-size: cover;
}

.content {
    background-image: url('./images/luca-cavallin-AvkE2aDr6cA-unsplash.jpg');
    width: 90vw;
    height: 87vh;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 20px;
}