@charset "UTF-8";

@font-face {
    font-family: 'century';
    src: url('fonts/Dominik\ Thin/DOMINIKTH.TTF');
}

* {
    font-family: 'century';
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 98.4vh;
    background: linear-gradient(to top, rgb(115, 113, 221), rgb(198, 197, 255));
}

.formImage {
    background-image: url('./images/login-bg.png');
    width: 50vw;
    height: 80vh;
    background-size: cover;
}

.content {
    background-image: url('./images/login-bg.png');
    width: 85vw;
    height: 90vh;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 20px;
}